*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li{
  list-style-type: none;
}
a{
  text-decoration: none;
}

:root{
  --blue : #0256FF;
  --light-blue: #1965FF;
  --orange: #F45C20;
  --h1-size: 60px;
  --h2-size: 46px;
  --h3-size: 32px;
  --h1-lh: 60px;
  --h2-lh: 46px;
  --h3-lh: 32px;
}